src/main/resources/schemas/payment.001.001.99.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="DocumentType"/>
  <xs:complexType name="pain.001.001.99Type">
    <xs:sequence>
      <xs:element type="xs:string" name="bank"/>
      <xs:element type="xs:string" name="account"/>
      <xs:element type="xs:boolean" name="confirmation"/>
      <xs:element type="xs:string" name="debit"/>
      <xs:element type="xs:string" name="credit"/>
      <xs:element type="xs:string" name="reference"/>
      <xs:element type="xs:string" name="note"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence>
      <xs:element type="pain.001.001.99Type" name="pain.001.001.99"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>